<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd  
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">  
  
    <!--==============测试Spring BeanFactory实例化Bean的过程-->  
    <bean id="employee" class="org.gaoliyuan.test.bean.instance.Employee"  
        init-method="init" destroy-method="destroy">  
        <!--默认部门为研发部的-->  
        <property name="department">  
            <value>bean2:研发部</value>  
        </property>
        <property name="femaleEmployee" ref="femaleEmployee"/> 
    </bean>
    <bean id="femaleEmployee" class="org.gaoliyuan.test.bean.instance.FemaleEmployee">
    	<property name="name"><value>Jim</value></property>
    	<property name="age" value="30"/>
    	<property name="address" value="china"></property>
    </bean>
</beans>